<div class="row m-2">
  <h1 class="col-3">Filters</h1>
  <button class="col-1" type="btn btn-primary" (click)="openAddFilter()">Add filter</button>
</div>
<table class="table m-3">
  <thead>
    <tr>
      <th>Filter</th>
      <th>Selection</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let filter of filters">
        <td>{{filter.title}}</td>
        <td>
          <p *ngFor="let criteria of filter.criterias">
            {{criteria.type}} {{criteria.additionalType}} {{criteria.choice}}
          </p>
        </td>
        <td>{{filter.category}}</td>
      </tr>
  </tbody>
</table>
